@font-face {
  font-family: 'Montserrat';
  src: url('../../Fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../../Fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../../Fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Black';
  src: url('../../Fonts/Montserrat/Montserrat-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../Fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../../Fonts/Roboto/Roboto-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../../Fonts/Roboto/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Black';
  src: url('../../Fonts/Roboto/Roboto-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}
